.questions {
  padding: 130px 0;
  background-color: $color-light;
}

.questions_inner {
  @include inner;
}

.questions_title {
  margin-bottom: 80px;
  @include title;
}

.accordion_btn {
  padding: 25px 0 25px 30px;
  width: 100%;
  border: 1px solid rgba(#FF2D2D33, .2);
  font-family: $font;
  font-size: 36px;
  font-weight: 300;
  line-height: 49px;
  text-align: left;
  color: #152B3C;
  background-color: $color-light;
}

.accordion_answer {
  font-family: $font;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  color: #000000;

  p {
    margin-bottom: 30px;
  }
}
