.footer {
  padding: 31px 0;
  background-color: $color-dark;
  color: $color-light;

  @media(max-width: $tablet-max) {
    padding: 35px 0;
  }

  @media(max-width: $mobile-max) {
    padding: 30px 0 35px;
  }
}

.footer_inner {
  @include inner;
}

.footer_nav {
  display: flex;
  align-items: center;

  @media(max-width: $mobile-max) {
    flex-direction: column;
  }
}

.footer_logo {
  display: inline-block;
  margin-right: auto;
  font-family: $font;
  font-size: 42px;
  font-weight: 600;
  line-height: 57px;
  color: $color-light;

  &:hover {
    color: $color-accent;
  }

  @media (max-width: $tablet-max) {
    font-size: 36px;
    line-height: 49px;
  }

  @media(max-width: $mobile-max) {
    margin-right: 0;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 38px;
  }
}

.footer_wrap {
  display: flex;
  align-items: center;
  gap: 60px;

  @media(max-width: $mobile-max) {
    flex-direction: column;
    gap: 15px;
  }
}

.footer_tel {
  font-family: $font;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
}

.social_links {
  display: flex;
  gap: 15px;
}

.social_link {
  width: 26px;
  height: 26px;
}
