.order {
  padding: 130px 0;
  background-color: rgba($color-dark, 0.1);
}

.order_title {
  margin-bottom: 40px;
  font-family: $font;
  font-size: 64px;
  font-weight: 400;
  line-height: 87px;
  text-align: center;
  color: $color-dark;
}

.order_desk {
  margin-bottom: 90px;
  font-family: $font;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
  color: $color-dark;
}
