.promo {
  padding: 200px 82px 214px 82px;
  background-color: $color-dark;
  background-image: url("../images/bg-promo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo_title {
  margin-bottom: 100px;
  font-family: $font;
  font-size: 72px;
  font-weight: 600;
  line-height: 98px;
  text-align: center;
  color: #ffffff;
}
