.tabs {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 40px;

  a {
    color: inherit;
  }

  @media (max-width: $tablet-max) {
    gap: 30px;
  }

  @media(max-width: $mobile-max) {
    gap: 20px;
    margin-bottom: 30px;
  }
}

.tab_link {
  font-family: $font;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: rgba(#000, .8);

  &.active {
    color: $color-accent;
  }
}



