.works {
  padding: 130px 0;
  background-color: $color-light;

  @media(max-width: $tablet-max) {
    padding: 120px 0;
  }

  @media(max-width: $mobile-max) {
    padding: 90px 0;
  }
}

.works_title {
  margin-bottom: 97px;
  @include h2;

  @media(max-width: $tablet-max) {
    margin-bottom: 80px;
  }

  @media(max-width: $mobile-max) {
    margin-bottom: 60px;
  }
}

.works_list {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;

  @media(max-width: $tablet-max) {
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  @media(max-width: $mobile-max) {
    flex-wrap: wrap;
  }
}

.works_item {
  margin-bottom: 120px;

  @media(max-width: $tablet-max) {
    margin-bottom: 0;
    flex-basis: calc(50% - 10px);
  }

  @media(max-width: $mobile-max) {
    padding: 90px 0;
  }
}

.works_figure {
  position: relative;

  @media(max-width: $tablet-max) {
    .works_img {
      width: 100%;
    };
  }
}

.works_img-desk {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 48px;
  font-family: $font;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-wrap: none;
  color: $color-light;
  background-color: rgba(1, 1, 1, 0.4);
}
