*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 122px;
  margin: 0;
  font-family: $font;
  text-align: center;

  @media(max-width: $tablet-max) {
    padding-top: 71px;
  }
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
}

.inner {
  @include inner;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
